@media (min-width: 1921px) {
    #tumb img {
        height: 330px;
        padding-left: 135px;
        margin-top: 96px;
    }

}


/* md Responsive*/

@media (min-width: 992px) and (max-width: 1199px) {}




/* sm - TABLE*/

@media (min-width: 768px) and (max-width: 991px) {}

/* xs mobile*/

@media (max-width: 767px) {





    #banner h1 {
        font-size: 80px;
    }

    #banner h2 {
        font-size: 20px;
    }

    #logotipo {

        background-size: cover;
    }

    #foto {
        height: 100%;
        margin: auto;
        width: 100%;
    }

    #texto-base {

        font-size: 18px;
        display: inline-grid;

    }

    #portlofio h2 {
        font-size: 15px;
    }

    #tumb {
        display: none;
    }

    #tumb img {
        visibility: hidden;
    }

    #tumb h3 {
        visibility: hidden;
    }

    #frasecss h6 {
        font-size: 53px;
    }

    #frasecss h2 {
        font-size: 25px;
    }


    #icons {
        display: inline-block;
        text-align: center;
        align-items: center;
        align-content: center;
    }



}

@media (max-width: 414px) {

    #logotipo {
        height: 500px;
    }

}